[Unit]
Description=VK Voice Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/py-voice-bot
Environment="PATH=/root/py-voice-bot/piper1-gpl/.venv/bin"
ExecStart=/root/py-voice-bot/piper1-gpl/.venv/bin/python /root/py-voice-bot/app.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

# Ограничения ресурсов
MemoryLimit=2G
CPUQuota=100%

[Install]
WantedBy=multi-user.target